snippet loremimg "Lorem generate image"
<img src="http://placehold.it/${1:width}x${2:height}">$0
endsnippet
snippet sqloremimg "Square lorem genereate image"
<img src="http://placehold.it/${1:width}x$1">$0
endsnippet
